@use "../../styles/variables" as *;

.password-wrapper{

    position:relative;

}

.toggle-password{

    position:absolute;

    right:14px;

    top:50%;

    transform:translateY(-50%);

    background:none;

    border:none;

    cursor:pointer;

    font-size:18px;

}

.password-group{

    margin-bottom:18px;

}