.input-wrapper{

    position:relative;

}

.input-icon{

    position:absolute;

    left:14px;

    top:50%;

    transform:translateY(-50%);

    color:#6b7280;

}

.input-wrapper input{

    padding-left:42px;

}