@use "../../../styles/variables" as *;

.btn{

display:inline-flex;

align-items:center;

justify-content:center;

padding:12px 24px;

border:none;

border-radius:$radius-sm;

cursor:pointer;

font-size:16px;

font-weight:600;

transition:$transition;

}

.btn-primary{

background:$primary;

color:white;

&:hover{

background:$primary-hover;

}

}

.btn-danger{

background:$danger;

color:white;

}

.btn-outline{

background:white;

border:1px solid $primary;

color:$primary;

}

.btn-block{

width:100%;

}