@use "../../../styles/variables" as *;

.admin-layout {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: row;

    background: $gray-100;
}


.admin-sidebar {
    flex: 0 0 260px;
    width: 260px;
}


.admin-layout__main {
    flex: 1 1 auto;
    min-width: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}


.admin-layout__content {
    flex: 1;
    min-width: 0;
}


@media (max-width: $tablet) {

    .admin-sidebar {
        flex-basis: 220px;
        width: 220px;
    }

}