@use "./variables" as *;
*{

margin:0;

padding:0;

box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body {
  font-family: $font-family;
  background: $gray-50;
  color: $gray-900;
  line-height: 1.5;
}

img{

display:block;

max-width:100%;

}

button{

font:inherit;

}

input{

font:inherit;

}

textarea{

font:inherit;

}

a{

text-decoration:none;

color:inherit;

}

ul{

list-style:none;

}